.list {
  background-color: antiquewhite;
  width: 420px;
  padding: 10px;
  > div {
    width: 100%;
    > label {
      display: inline-block;
      width: 8rem;
      writing-mode: vertical-lr;
    }
  }
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // writing-mode: vertical-lr;
  width: 200px;
}

option {
  padding: 0;
}

input[type='range'] {
  margin: 0;
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
}
