@import '../../variables';

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}

.selectedHeros {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  .selectedHero {
    height: 3.75rem;
    width: 3.75rem;
    img {
      height: 100%;
      width: 100%;
      filter: drop-shadow(0px 0px 5px transparentize($base-color, 0.5));
    }
  }
}

.heroGroup {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: max-content;
  height: max-content;
  .hero {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    span {
      white-space: nowrap;
    }
  }
}

.grid {
  width: 100%;
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: max-content;
  height: max-content;
  padding-bottom: 5rem;

  .secretCard {
    display: grid;
    height: max-content;
    background-color: #ddd9d250;
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    grid-template-columns: max-content 1fr;
    width: 100%;
    gap: 10px;
    .name {
      grid-column: 2/3;
      grid-row: 1/2;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 2px;
      color: #222222;
    }
    .info {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .navLink {
      text-decoration: none;
      color: #222222;
      grid-column: 2/3;
      grid-row: 3/4;
      .arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid black;
        margin-left: 5px;
      }
    }
    .avatar {
      grid-column: 1/2;
      grid-row: 1/4;
      height: 86px;
      width: 86px;
      object-fit: contain;
      border-radius: 50%;
      border: 1px solid #ddd9d2;
      align-self: center;
      position: relative;
      overflow: hidden;
      &::after {
        content: attr(data-alt);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ddd9d2;
        color: #222222;
        font-size: 1rem;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .instanceList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    margin-top: 0.5rem;
    .listItem {
      background-color: #ddd9d2;
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid #504b43;
    }
  }
}

.transitionContainer {
  position: fixed;
  width: 90%;
  max-width: 40rem;
  background-color: #fff;
  box-shadow: 0 0 15px #504b43;
  transform: translateX(calc(100% + 15px));
  transition: transform 0.3s ease-in-out;
  height: 100%;
  top: 0;
  right: 0;
  &.isOpen {
    transform: translateX(0);
  }
}
