@import 'scss/variables';

.appHeader {
  height: 5rem;
  width: calc(100% - 2rem);
  margin: 1rem auto 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1rem 1rem 4.375rem;
  gap: 2rem;
  background-image: url('./star.png');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 50px;
  .navLink {
    text-decoration: none;
    color: $secondary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    &.active {
      font-weight: 600;
      color: $primary-text-color;
    }
  }
}
