:root {
  --header-text-color: #000;
  --primary-text-color: #171a27;
  --secondary-text-color: #4a4a50;
  --base-color: #722bff;
  --grey-background-color: #f8f8fa;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
