@import 'scss/variables';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: $body-background-color;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-background-color;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}
