@import 'scss/variables';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: $body-background-color;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-background-color;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

@font-face {
  font-family: 'uiw-font';
  src: url('../font/uiw-font.eot'); /* IE9*/
  src: url('../font/uiw-font.woff') format('woff2'),
    url('../font/uiw-font.woff2') format('woff'),
    url('../font/uiw-font.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('../font/uiw-font.svg') format('svg'); /* iOS 4.1- */
}

.icons {
  font-family: 'uiw-font' !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
