$header-text-color: #383633;
$primary-text-color: #493c35;
$secondary-text-color: #b8a99b;
$base-color: #752c33;
$tint-color: #d19385;
$grey-background-color: #f8f8fa;
$body-background-color: #d5c5b4;
$card-background-color: #f3e7d9;
$divider-color: #e4d5c4;
$input-background-color: #e4d5c4;
$option-color-one: #db9d90;
$option-color-two: #779d92;
$option-color-three: #db9284;
$option-color-four: #a8565b;
$main-button-color: #752c33;
